:root{
    --azul:#4792b3;
    --verde: #6d8a62;
    --rosa:#f389b7;
    --laranja:#F4A623;
    --preto:#000000;
    --branco:#FFFFFF;
    --cinza:#666666;
}


header, footer{
    background-color: var(--azul);
}

.card, .card img{
    border-radius:0%!important;
}
.card{
    padding: 1rem;
    border: var(--cinza) 2px solid;
}
.card button{
    background-color: var(--rosa);
    border-style: none;
    color: var(--preto);
    border-radius: 0%;
}
.card button:hover{
    background-color: #c23a75;
    color:var(--branco);
}
.card button:active{
    background-color: #F4A623!important;
    color:var(--branco)!important;
}

.btn btn-primary{
    background-color: #F7B6D2;
}

#form{
    width: 100%;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    text-align: center;
    gap:20px;
}


#formulario{
    width: 50%;
    padding: 10px;
    margin: 10px;
    text-align: left;
}

#imgForm{
    width: 50%;
    padding: 0;
    margin: 0;
    background-image: url(../images/imgBanner.png);
    background-position: center;
    background-size: cover;
   
}

#notificacao{
    padding: 10px;
    margin-left: 10px;
    margin-top: 30px;

}

#botao{
    padding: 10px;
    margin: 10px;
   /* display: flex;
    justify-content: center!important;
    text-align: center!important;*/
    

}

label{
    padding: 10px;
}